@charset "UTF-8";
/* ===================================================================
CSS information

 file name  : common.css
 style info : 基本・共通設定
=================================================================== */
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}
#header .con_header{
  max-width: 1280px;
}
#header .con_header, #footer {
  /* max-width: 1280px; */
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  #header .con_header, #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media print {
  #header .con_header, #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.ie8 #header .con_header, #header .ie8 .con_header, .ie8 #footer {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 1280px) and (max-width: 1480px) {
  #header .con_header, #footer {
    padding-right: 130px;
  }
}
@media print {
  #header .con_header, #footer {
    padding-right: 130px;
  }
}
.ie8 #header .con_header, #header .ie8 .con_header, .ie8 #footer {
  padding-right: 130px;
}
@media only screen and (max-width: 1024px) {
  #header .con_header, #footer {
    width: 100%;
  }
}

/*Animate */
/* -----------------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------------- */
html {
  font-size: small;
  line-height: 1.5;
}

body {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: none;
  font-size: 124%;
}
.ie body {
  font-size: 120%;
}
@media only screen and (max-width: 767px) {
  body {
    overflow: hidden;
    font-size: 116%;
  }
}
body a {
  color: #1a1a1a;
}
body a:link, body a:visited, body a:active {
  text-decoration: none;
}
.mouse body a:hover, .touch body a.touchstart {
  text-decoration: none;
  color: #333333;
}
body img {
  max-width: 100%;
  -webkit-touch-callout: none;
}

body, pre, input, textarea, select {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

input, select, textarea {
  font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
  display: none !important;
}
html.ie8 #page {
  min-width: 1280px !important;
  margin: auto;
  font-size: 100% !important;
}

@media only screen and (min-width: 1025px) {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
@media print {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
.ie8 body .view_tab-sp, .ie8 body .view_tab {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  body .view_sp {
    display: none !important;
  }
}
@media print {
  body .view_sp {
    display: none !important;
  }
}
.ie8 body .view_sp {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
  body .view_pc {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  body .view_pc-tab, body .view_tab {
    display: none !important;
  }
}

.mouse .over {
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}
.mouse .over:hover, .touch .over.touchstart {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.touch .over {
  -webkit-tap-highlight-color: transparent;
}
.touch .over.touchend {
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_rsv a {
  text-align: center;
  display: block;
  -moz-border-radius: 50px;
  /* -webkit-border-radius: 50px; */
  /* border-radius: 50px; */
  border: 1px solid #ed9434;
  background: #ED9434;
  color: #fff;
  position: relative;
  padding: .5em 1.5em;
  font-size: 132%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_rsv a {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  .btn_rsv a {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .btn_rsv a:hover {
    background: #fff;
    color: #ED9434;
    border:1px solid #ED9434;
  }
  .btn_rsv a:hover:after {
    color: #ED9434;
  }
}
@media print {
  .btn_rsv a:hover {
    background: #fff;
    color: #ED9434;
    border:1px solid #ED9434;
  }
  .btn_rsv a:hover:after {
    color: #ED9434;
  }
}
.ie8 .btn_rsv a:hover {
  background: #fff;
  color: #ED9434;
  border:1px solid #ED9434;
}
.ie8 .btn_rsv a:hover:after {
  color: #ED9434;
}
@media only screen and (max-width: 767px) {
  .btn_rsv a {
    padding: .5em 1em;
  }
}
.btn_rsv a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn_line a {
  text-align: center;
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #19BC03;
  color: #fff;
  position: relative;
  padding: .5em 1.5em;
  font-size: 138%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_line a {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  .btn_line a {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .btn_line a:hover {
    background: #fff;
    color: #19BC03;
  }
  .btn_line a:hover:after {
    color: #19BC03;
  }
}
@media print {
  .btn_line a:hover {
    background: #fff;
    color: #19BC03;
  }
  .btn_line a:hover:after {
    color: #19BC03;
  }
}
.ie8 .btn_line a:hover {
  background: #fff;
  color: #19BC03;
}
.ie8 .btn_line a:hover:after {
  color: #19BC03;
}
@media only screen and (max-width: 767px) {
  .btn_line a {
    padding: .5em 1em;
  }
}
.btn_line a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn_basic a {
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #fff;
  color: #000;
  position: relative;
  padding: .5em 1.5em;
  font-size: 138%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_basic a {
    font-size: 125%;
  }
}
@media only screen and (max-width: 767px) {
  .btn_basic a {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .btn_basic a:hover {
    background: #000;
    color: #fff;
  }
  .btn_basic a:hover:after {
    color: #fff;
  }
}
@media print {
  .btn_basic a:hover {
    background: #000;
    color: #fff;
  }
  .btn_basic a:hover:after {
    color: #fff;
  }
}
.ie8 .btn_basic a:hover {
  background: #000;
  color: #fff;
}
.ie8 .btn_basic a:hover:after {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .btn_basic a {
    padding: .5em 1em;
  }
}
.btn_basic a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #000;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn_blue a {
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #FFF;
  color: #ED9434;
  position: relative;
  border: 1px solid #ED9434;
  padding: .5em 1.5em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 1025px) {
  .btn_blue a:hover {
    background: #ED9434;
    color: #FFF;
  }
}
@media print {
  .btn_blue a:hover {
    background: #000;
  }
}
.ie8 .btn_blue a:hover {
  background: #000;
}
@media only screen and (max-width: 767px) {
  .btn_blue a {
    padding: .5em 1em;
  }
}
.btn_blue a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.txt_lnk a {
  position: relative;
  display: inline-block;
  padding-bottom: .5em;
  overflow: hidden;
}
.txt_lnk a:after {
  content: "→";
  padding-left: 20px;
}
.txt_lnk a:before {
  content: "";
  background: #000;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 1025px) {
  .txt_lnk a:hover:before {
    left: -100%;
    opacity: 0;
  }
}
@media print {
  .txt_lnk a:hover:before {
    left: -100%;
    opacity: 0;
  }
}
.ie8 .txt_lnk a:hover:before {
  left: -100%;
  opacity: 0;
}

/* -----------------------------------------------------------
	#page
----------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  #page {
    font-size: 100% !important;
  }
}
@media print {
  #page {
    font-size: 100% !important;
  }
}
.ie8 #page {
  font-size: 100% !important;
}

/* -----------------------------------------------------------
	#header
----------------------------------------------------------- */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  #header {
    display: none;
  }
}
@media print {
  #header {
    display: none;
  }
}
.ie8 #header {
  display: none;
}
#header .con_header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
#header .con_header .logo {
  width: 100%;
  text-align: center;
  visibility:  hidden;
  pointer-events: none;
}
#header .con_header .box_header {
  width: 80%;
}
@media only screen and (min-width: 1025px) {
  #header .con_header .box_header {
    margin-top: -20px;
    text-align: center;
  }
}
@media print {
  #header .con_header .box_header {
    margin-top: -20px;
  }
}
.ie8 #header .con_header .box_header {
  margin-top: -20px;
}
#header .con_header .box_header .box_tel {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
#header .con_header .box_header .box_tel a {
  font-family: serif;
  padding: 0;
}
#header .con_header .box_header .box_tel .tel {
  padding: 0;
  font-size: 188%;
  line-height: 1.3;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #header .con_header .box_header .box_tel .tel {
    font-size: 150%;
  }
}
@media only screen and (max-width: 767px) {
  #header .con_header .box_header .box_tel .tel {
    font-size: 113%;
  }
}
#header .con_header .box_header .box_tel p {
  font-size: 100%;
  font-weight: normal;
  display: inline-block;
  margin-left: 10px;
}
#header .con_header .box_header #gnav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  /* float: right; */
}
#header .con_header .box_header #gnav li a {
  display: block;
  display: -webkit-flex;
  display: flex;
  padding: .5em;
  position: relative;
  overflow: hidden;
}
#header .con_header .box_header #gnav li a:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: -100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 1025px) {
  #header .con_header .box_header #gnav li a:hover:after {
    opacity: 1;
    left: 0;
  }
}
@media print {
  #header .con_header .box_header #gnav li a:hover:after {
    opacity: 1;
    left: 0;
  }
}
.ie8 #header .con_header .box_header #gnav li a:hover:after {
  opacity: 1;
  left: 0;
}

/* -----------------------------------------------------------
	#contents
----------------------------------------------------------- */
/* -----------------------------------------------------------
	#side
----------------------------------------------------------- */
#side {
  /* background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZWRmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZDhkNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); */
  /* background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddedfa), color-stop(100%, #dad8d7)); */
  background: -moz-linear-gradient(#ddedfa, #dad8d7);
  /* background: -webkit-linear-gradient(#ddedfa, #dad8d7); */
  /* background: linear-gradient(#ddedfa, #dad8d7); */
  *
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDDEDFA', endColorstr='#FFDAD8D7');
  /* background-color: #F8D2BD; */
  transition: 0.4s all;
}

#side.colored{
  /* background-color: #F8D2BD; */
}

@media only screen and (min-width: 1025px) {
  #side {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 100;
  }
}
@media print {
  #side {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 100;
  }
}
.ie8 #side {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 100;
}
@media only screen and (max-width: 1280px) {
  #side {
    position: fixed;
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    z-index: 100;
    top: 0;
    left: 0;
  }
  #side.colored{
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 768px) {
  #side.colored{
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}

@media print {
  #side {
    background: #ddedfa;
    position: fixed;
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    z-index: 100;
    top: 0;
    left: 0;
  }
}
.ie8 #side {
  background: #ddedfa;
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  #side {
    height: 70px;
  }
}
@media only screen and (min-width: 1025px) {
  #side .logo {
    display: none;
  }
}
@media print {
  #side .logo {
    display: none;
  }
}
.ie8 #side .logo {
  display: none;
}
@media only screen and (max-width: 1280px) {
  #side .logo {
    display: block;
    padding: .5em 1em;
    visibility:  hidden;
    width: 20%;
    pointer-events: none;
  }
  #side .logo a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #side .logo a:hover {
    opacity: .7;
  }
  #side .logo img {
    height: 100%;
  }
}
@media print {
  #side .logo {
    display: block;
    padding: .5em 1em;
    width: 20%;
  }
  #side .logo a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #side .logo a:hover {
    opacity: .7;
  }
  #side .logo img {
    height: 100%;
  }
}
.ie8 #side .logo {
  display: block;
  padding: .5em 1em;
  width: 20%;
}
.ie8 #side .logo a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ie8 #side .logo a:hover {
  opacity: .7;
}
.ie8 #side .logo img {
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .logo {
    width: 15%;
    padding: .5em;
  }
}
@media only screen and (max-width: 767px) {
  #side .logo {
    width: 25%;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #side .logo img {
    height: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  #side .side_rsv {
    position: absolute;
    right: 0;
    height: 120px;
    width: 10%;
  }
}
@media print {
  #side .side_rsv {
    position: absolute;
    right: 0;
    height: 120px;
    width: 10%;
  }
}
.ie8 #side .side_rsv {
  position: absolute;
  right: 0;
  height: 120px;
  width: 10%;
  margin-top: 0px;
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  #side .side_rsv {
    position: fixed;
    right: 10px;
    bottom: 5%;
    width: 12%;
    max-width: 100px;
    height: 72px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  body.open-menu #side .side_rsv {
    opacity: 0;
  }
}
@media print {
  #side .side_rsv {
    position: fixed;
    right: 10px;
    bottom: 5%;
    width: 12%;
    max-width: 100px;
    height: 60px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  body.open-menu #side .side_rsv {
    opacity: 0;
  }
}
.ie8 #side .side_rsv {
  position: fixed;
  right: 10px;
  bottom: 5%;
  width: 12%;
  max-width: 100px;
  height: 60px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
body.open-menu .ie8 #side .side_rsv {
  opacity: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .side_rsv {
    position: fixed;
    right: 10px;
    bottom: 8%;
    height: 60px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  body.open-menu #side .side_rsv {
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  #side .side_rsv {
    position: fixed;
    right: 20px;
    bottom: 3%;
    width: 20%;
    height: 80px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  body.open-menu #side .side_rsv {
    opacity: 0;
  }
}
#side .side_rsv a {
  display: block;
  background: #ED9434;
  background-size: cover;
  color: #fff;
  text-align: center;
  min-height: 90px;
  padding-top: .5em;
  position: relative;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
@media only screen and (min-width: 1025px) {
  #side .side_rsv a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #side .side_rsv a:hover {
    opacity: .8;
  }
}
@media print {
  #side .side_rsv a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #side .side_rsv a:hover {
    opacity: .8;
  }
}
.ie8 #side .side_rsv a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ie8 #side .side_rsv a:hover {
  opacity: .8;
}
@media only screen and (max-width: 1280px) {
  #side .side_rsv a {
    padding: .5em 1.5em;
    min-height: 77px;
  }
}
@media print {
  #side .side_rsv a {
    padding: .5em 1.5em;
    min-height: 100px;
  }
}
.ie8 #side .side_rsv a {
  padding: .5em 1.5em;
  min-height: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .side_rsv a {
    padding: .5em 1em;
  }
}
@media only screen and (max-width: 767px) {
  #side .side_rsv a {
    background: #ED9434;
    height: 90px;
    min-height: 0;
    padding: 18px .5em 0;
  }
}
#side .side_rsv a i {
  display: block;
  font-size: 207%;
}
@media only screen and (max-width: 1280px) {
  #side .side_rsv a i {
    font-size: 175%;
  }
}
@media print {
  #side .side_rsv a i {
    font-size: 175%;
  }
}
.ie8 #side .side_rsv a i {
  font-size: 175%;
}
@media only screen and (max-width: 767px) {
  #side .side_rsv a i {
    line-height: 1.3;
    font-size: 28px;
  }
}
#side .side_rsv a span {
  font-size: 125%;
  letter-spacing: .05em;
}
@media only screen and (max-width: 1280px) {
  #side .side_rsv a span {
    font-size: 113%;
  }
}
@media print {
  #side .side_rsv a span {
    font-size: 113%;
  }
}
.ie8 #side .side_rsv a span {
  font-size: 113%;
}
@media only screen and (max-width: 767px) {
  #side .side_rsv a span {
    display: block;
    font-size: 14px;
  }
}
#side .side_rsv a:before {
  /* content: "\f105"; */
  font-family: 'FontAwesome';
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
}
@media only screen and (max-width: 1280px) {
  #side .side_rsv a:before {
    bottom: 5px;
  }
}
@media print {
  #side .side_rsv a:before {
    bottom: 5px;
  }
}
.ie8 #side .side_rsv a:before {
  bottom: 5px;
}
@media only screen and (max-width: 767px) {
  #side .side_rsv a:before {
    display: none;
  }
}
#side .box_sns {
  font-size: 2em;
  text-align: center;
  padding-top: .5em;
}
@media only screen and (max-width: 1280px) {
  #side .box_sns {
    width: 42%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    text-align: right;
  }
}
@media print {
  #side .box_sns {
    width: 25%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    text-align: right;
  }
}
.ie8 #side .box_sns {
  width: 25%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_sns {
    width: 28%;
  }
}
@media only screen and (max-width: 767px) {
  #side .box_sns {
    align-items: stretch;
    flex-wrap: wrap;
    width: 55%;
    padding-top: 0;
    padding-right: .5em;
    height: 70px;
    overflow: hidden;
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  #side .box_sns li {
    text-align: center;
  }
}
#side .box_sns li a,
#side .box_sns li span {
  color: #fff;
  padding: .2em 0;
  display: block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 1280px) {
  #side .box_sns li a,
  #side .box_sns li span {
    padding: 0 .2em;
  }
}
@media print {
  #side .box_sns li a,
  #side .box_sns li span {
    padding: 0 .2em;
  }
}
.ie8 #side .box_sns li a, .ie8
#side .box_sns li span {
  padding: 0 .2em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_sns li a,
  #side .box_sns li span {
    padding: 1em .1em;
  }
}
@media only screen and (max-width: 767px) {
  #side .box_sns li a,
  #side .box_sns li span {
    color: #444;
    font-size: 14px;
    padding: 0 .5em;
    margin: 0 auto;
    line-height: 1;
  }
}
#side .box_sns li a:hover,
#side .box_sns li span:hover {
  opacity: 0.7;
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  #side .box_sns li.view_pc-tab {
    display: none;
  }
}
@media print {
  #side .box_sns li.view_pc-tab {
    display: none;
  }
}
.ie8 #side .box_sns li.view_pc-tab {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_sns li.view_pc-tab {
    display: none;
  }
}
#side .box_sns li.ic_mail, #side .box_sns li.ic_tel {
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  #side .box_sns li.ic_mail, #side .box_sns li.ic_tel {
    border-bottom: none;
  }
  #side .box_sns li.ic_mail a,
  #side .box_sns li.ic_mail span, #side .box_sns li.ic_tel a,
  #side .box_sns li.ic_tel span {
    font-size: 30px;
    line-height: 1.8;
  }
}
#side .box_sns li.txt_tel {
  width: 100%;
  font-size: 12px;
  text-align: right;
  margin-top: -10px;
  color: #444;
}
#side .box_nav {
  text-align: center;
  padding-top: .5em;
}
@media only screen and (max-width: 1280px) {
  #side .box_nav {
    width: 55%;
    color: #000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* float: left; */
  }
}
@media print {
  #side .box_nav {
    width: 55%;
    color: #3a84df;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.ie8 #side .box_nav {
  width: 55%;
  color: #3a84df;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_nav {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 46%;
    font-size: .8em;
    padding-right: 1%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_nav li {
    width: 50%;
  }
}
#side .box_nav li a {
  color: #3a84df;
  padding: .5em 0;
  display: block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 1280px) {
  #side .box_nav li a {
    padding: 1em;
  }
}
@media print {
  #side .box_nav li a {
    padding: 1em;
  }
}
.ie8 #side .box_nav li a {
  padding: 1em;
}
#side .box_nav li.nav_con, #side .box_nav li.nav_tel {
  padding: 0;
  color: #000;
}
@media only screen and (min-width: 1025px) {
  #side .box_nav li.nav_con, #side .box_nav li.nav_tel {
    display: none;
  }
}
@media print {
  #side .box_nav li.nav_con, #side .box_nav li.nav_tel {
    display: none;
  }
}
.ie8 #side .box_nav li.nav_con, .ie8 #side .box_nav li.nav_tel {
  display: none;
}
@media only screen and (max-width: 1280px) {
  #side .box_nav li.nav_con, #side .box_nav li.nav_tel {
    display: block;
    font-weight: bold;
  }
}
@media print {
  #side .box_nav li.nav_con, #side .box_nav li.nav_tel {
    display: block;
    font-weight: bold;
  }
}
.ie8 #side .box_nav li.nav_con, .ie8 #side .box_nav li.nav_tel {
  display: block;
  font-weight: bold;
}
#side .box_nav li.nav_con a,
#side .box_nav li.nav_con .tel, #side .box_nav li.nav_tel a,
#side .box_nav li.nav_tel .tel {
  color: #000;
}
#side .box_nav li.nav_con {
  /* border: 1px solid #000; */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
@media only screen and (max-width: 1280px) {
  #side .box_nav li.nav_con:hover a {
    background: #ED9434;
    color: #FFF;
    border-color: #FFF;
  }
}
@media print {
  #side .box_nav li.nav_con:hover a {
    background: #3a84df;
    color: #000;
  }
}
.ie8 #side .box_nav li.nav_con:hover a {
  background: #3a84df;
  color: #000;
}
#side .box_nav li.nav_tel {
  padding: 1em 1.5em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_nav li.nav_tel {
    padding: 1em .5em;
  }
}
#side .box_nav li.nav_tel a {
  font-family: serif;
  padding: 0;
  border-bottom: 1px solid #000;
}
#side .box_nav li.nav_tel .tel {
  padding: 0;
  font-size: 163%;
  line-height: 1.3;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #side .box_nav li.nav_tel .tel {
    font-size: 150%;
  }
}
@media only screen and (max-width: 767px) {
  #side .box_nav li.nav_tel .tel {
    font-size: 113%;
  }
}
#side .box_nav li.nav_tel p {
  font-size: 94%;
  font-weight: normal;
  text-align: right;
}
#side .pgtop {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
@media only screen and (max-width: 1280px) {
  #side .pgtop {
    display: none;
  }
}
@media print {
  #side .pgtop {
    display: none;
  }
}
.ie8 #side .pgtop {
  display: none;
}
#side .pgtop a {
  display: block;
  color: #ED9434;
  font-size: 200%;
}

/* -----------------------------------------------------------
	btn_menu
----------------------------------------------------------- */
@media only screen and (min-width: 1281px) {
  .btn_menu {
    display: none;
  }
}
@media print {
  .btn_menu {
    display: none;
  }
}
.ie8 .btn_menu {
  display: none;
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .btn_menu {
    position: absolute;
    right: 0;
    height: 100px;
    width: 10%;
    text-align: center;
  }
}
@media print {
  .btn_menu {
    position: absolute;
    right: 0;
    height: 100px;
    width: 10%;
    text-align: center;
  }
}
.ie8 .btn_menu {
  position: absolute;
  right: 0;
  height: 100px;
  width: 10%;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_menu {
    position: absolute;
    right: 0;
    height: 100px;
    width: 10%;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .btn_menu {
    position: absolute;
    right: 0;
    height: 70px;
    text-align: center;
    width: 20%;
  }
}
.btn_menu a {
  height: 100%;
  display: block;
  text-decoration: none !important;
  /* background: #ED9434; */
  background-size: cover;
  color: #000;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.btn_menu a .wrp > div {
  width: 25px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 1;
}
.btn_menu a .wrp > div .bars {
  height: 21px;
  width: 25px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .btn_menu a .wrp > div .bars {
    width: 26px;
    height: 19px;
  }
}
.btn_menu a .wrp > div .bars span {
  display: block;
  height: 2px;
  background: #000;
  position: absolute;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 26px;
}
.btn_menu a .wrp > div .bars span:nth-child(1) {
  top: 0;
}
.btn_menu a .wrp > div .bars span:nth-child(2) {
  top: 9px;
}
@media only screen and (max-width: 767px) {
  .btn_menu a .wrp > div .bars span:nth-child(2) {
    top: 8px;
  }
}
.btn_menu a .wrp > div .bars span:nth-child(3) {
  top: 19px;
}
@media only screen and (max-width: 767px) {
  .btn_menu a .wrp > div .bars span:nth-child(3) {
    top: 16px;
  }
}
.btn_menu a .wrp p {
  vertical-align: middle;
  color: #000;
  font-size: 13px;
  font-family: "Playfair Display", serif;
  line-height: 1;
  padding-top: 7px;
}
.btn_menu a .wrp p.open {
  display: inline-block;
}
.btn_menu a .wrp p.close {
  display: none;
}

.open-menu .btn_menu a span:nth-child(1) {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  top: 8px !important;
}
.open-menu .btn_menu a span:nth-child(2) {
  opacity: 0;
}
.open-menu .btn_menu a span:nth-child(3) {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 8px !important;
}
.open-menu .btn_menu a em.open {
  display: none;
}
.open-menu .btn_menu a em.close {
  display: inline-block;
}

/* -----------------------------------------------------------
	con_menu_sp
----------------------------------------------------------- */
.con_menu_sp {
  position: fixed;
  overflow: auto;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transform: scale(1.1,1.1);
  transition: all .25s ease-out;
  z-index: 90;
  pointer-events: none;
}
.con_menu_sp .box_menu_sp {
  background: rgba(255, 255, 255, 1);
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  /* pointer-events: none; */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .con_menu_sp .box_menu_sp {
    padding: 100px 0 0;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .con_menu_sp .box_menu_sp {
    padding: 69px 0;
  }
}

.con_menu_sp .box_menu_sp > ul{
  /* border-top: 1px solid #DDD; */
}

.con_menu_sp .box_menu_sp > ul > li {
  font-size: 113%;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  /* height: 100%; */
  border-bottom: 1px solid #DDD;
}
.con_menu_sp .box_menu_sp > ul > li.btn_rsv {
  max-width: 320px;
  border-bottom: none;
}
.con_menu_sp .box_menu_sp > ul > li.box_sp_sns {
  padding: 20px 0;
}
.con_menu_sp .box_menu_sp > ul > li.box_sp_sns ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .con_menu_sp .box_menu_sp > ul > li.box_sp_sns ul {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.con_menu_sp .box_menu_sp > ul > li.box_sp_sns ul li {
  padding: 0 1em;
}
@media only screen and (max-width: 767px) {
  .con_menu_sp .box_menu_sp > ul > li.box_sp_sns ul li {
    padding: 0 .2em;
  }
}

@media only screen and (max-width: 1280px) {
  .con_menu_sp.active {
    opacity: 1;
    pointer-events: inherit;
    transform: scale(1,1);
  }
}

/* -----------------------------------------------------------
	#footer
----------------------------------------------------------- */
#footer {
  text-align: center;
  padding: 70px 0 60px;
  background: #595959;
  color: #FFF;
}
@media only screen and (max-width: 767px) {
  #footer {
    padding: 70px 0 15px;
  }
}
#footer .logo {
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  #footer .logo {
    margin-bottom: 10px;
  }
}
#footer address {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  #footer address {
    font-size: 88%;
  }
}
#footer #copyright {
  font-family: serif;
  color: #ddd;
  font-size: 75%;
}
#footer .txt_pagetop {
  margin-bottom: 3em;
}
#footer .txt_pagetop a {
  padding: .8em 1em .8em 1em;
  border: 1px solid #ED943F;
  font-family: serif;
  background-color: #ED9434;
  transition: all 0.25s;
  color: #FFF;
  width: 200px;
  display: inline-block;
}

#footer .txt_pagetop a:last-child{
  margin-left: 60px;
  padding: .8em 1em .8em 2em;
}

@media only screen and (max-width: 767px) {
  #footer .txt_pagetop a{
    display: block;
    margin: 0 auto 50px;
    width: 200px;
  }
  #footer .txt_pagetop a:last-child{
    margin-left: auto;
  }
}

#footer .txt_pagetop a i {
  margin-left: 0.9em;
}
#footer .txt_pagetop a:hover {
  background: #FFF;
  color: #ED9434;
}

/* -----------------------------------------------------------
	下層共通スタイル
----------------------------------------------------------- */
/* -----------------------------------------------------------
	テーブル
----------------------------------------------------------- */
/* -----------------------------------------------------------
	gc追加
----------------------------------------------------------- */
.txt_small　 {
  font-size: .3em;
}

.txt_large {
  font-size: 2em !important;
  font-weight: bold;
}

.txt_red {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff0000;
}

.top_mail_icon{font-size: 32px;vertical-align: middle;margin-right: 10px;}

.side_rsv{
  margin-top: 10px;
  right: 20px;
}

.con_menu_sp .box_menu_sp > ul > li a{
  transition: 0.25s all;
  width: 200px;
  margin: 0 auto;
}

.con_menu_sp .box_menu_sp > ul > li a:hover{
  color: #ED9434;
}
@media only screen and (max-width: 1280px) {
  body.open-menu #side{
    background-color: #FFFFFF!important;
    border-bottom: 1px solid #DDD;
  }
}
